@media (prefers-color-scheme: dark) {
  body {
    background-color: #191724;
    color: #e0def4;
    overflow: hidden;
  }
  .notepad {
    background-color: #26233a;
    color: #e0def4;
    min-height: calc(100vh - 60px);
    overflow: hidden;
  }
  .savebutton {
  background-color: #26233a;
  border: hidden;
  border-radius: 16px;
  color: #e0def4;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  }
.qwilldiv {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  border-radius: 8px;
  background-color: #26233a;
}
.qwilldiv::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  background-color: #26233a;

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.qwilldiv > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  background-color: #26233a;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.qwilldiv > textarea,
.qwilldiv::after {
  /* Identical styling required!! */
  border: hidden;
  color: #e0def4;
  background-color: #26233a;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

body {
  margin: 2rem;
  font: 1rem/1.4 system-ui, sans-serif;
}

label {
  display: block;
}

  footer{
    font-weight: bold;
  }
  a {
    color: #9ccfd8;
    text-decoration: none;
  }
  a:hover {
    color: #31748f;
    text-decoration: underline;
  }
  a:visited {
    color: #c4a7e7;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #faf4ed;
    color: #575279;
    overflow: hidden;
  }
  .notepad {
    background-color: #f2e9e1;
    color: #575279;
    min-height: calc(100vh - 60px);
    overflow: hidden;
  }
  .savebutton {
  background-color: #f2e9e1;
  border: hidden;
  border-radius: 16px;
  color: #575279;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  }
.qwilldiv {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  border-radius: 8px;
  background-color: #f2e9e1;
}
.qwilldiv::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  background-color: #f2e9e1;

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.qwilldiv > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  background-color: #f2e9e1;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.qwilldiv > textarea,
.qwilldiv::after {
  /* Identical styling required!! */
  border: hidden;
  color: #575279;
  background-color: #f2e9e1;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

body {
  margin: 2rem;
  font: 1rem/1.4 system-ui, sans-serif;
}

label {
  display: block;
}

  footer{
    font-weight: bold;
  }
  a {
    color: #56949f;
    text-decoration: none;
  }
  a:hover {
    color: #286983;
    text-decoration: underline;
  }
  a:visited {
    color: #907aa9;
  }
}

textarea {
  border: hidden;
  border-radius: 16px;
  outline: none;
  font-family: sans-serif;
}
